[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
scrapy = "*"
selenium = "*"

[requires]
python_version = "3.7"

[scripts]
main = "python main.py"
genspider = "scrapy genspider"
crawl = "scrapy crawl"

