[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
selenium = "*"
bs4 = "*"
chardet = "*"
pandas = "*"
openpyxl = "*"
xlrd = "*"
requests = "*"
lxml = "*"

[requires]
python_version = "3.7"

[scripts]
main = "python src/main.py"
process = "python src/modules/process.py"
